# --- Security / Secrets ---
.env
src/firebase.js

# --- React / System ---
/node_modules
/.pnp
.pnp.js
.DS_Store

# --- Testing / Production ---
/coverage
/build

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*